
.blog-index-box{
    background-color: var(--art-bg-color);
}

.blog-index-nav{
    display: flex;
    width: 100vw;
    height: 10rem;
}
.blog-index-nav-left{
    position: relative;
    flex: 1;
}
.blog-index-nav-left-icon{
    position: fixed;
    width: 40px;
    height: 40px;
    top: 5rem;
    left: 8rem;
    transform: translate(0,-50%);
    background-image: url(https://rainsin-1305486451.cos.ap-nanjing.myqcloud.com/img/favicon.ico);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.blog-index-nav-left-item{
    position: fixed;
    width: 15rem;
    height: 40px;
    top: 5rem;
    left:calc(8rem + 40px);
    padding-left: 1rem;
    transform: translate(0,-50%);
    color: var(--blog-font-color);
    font-family: 'Garamond Premier Pro Display';
    font-size: large;
    letter-spacing: .3rem;
    line-height: 40px;
    transition: all .5s;
}
.blog-index-nav-left-item:hover{
    color: var(--blog-font-color);
    opacity: .5;
}
.blog-index-nav-right{
    position: relative;
    flex: 1;
}
.blog-index-nav-right-base{
    position: fixed;
    width: 4rem;
    height: 4rem;
    top: 5rem;
    right:calc(6rem + 40px);
    padding-right: 1rem;
    transform: translate(0,-50%);
    border-radius: 2.5rem;
    box-shadow: 3px 3px 5px #e3e5ea,-3px -3px 5px #fff;
    transition: all .5s ;
    overflow: hidden;
}
.blog-index-nav-right-unwind{
    width: 25rem;
}
.b-i-n-r-unwind-item-box{
    position: absolute;
    display: flex;
    width: 90%;
    height: 50%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.b-i-n-r-unwind-item-box>li{
    position: relative;
    flex: 1;
}
.b-i-n-r-unwind-item-box>li a{
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 50%;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: var(--blog-font-color);
    text-align: center;
    font-family: 'Raleway-Medium';
    letter-spacing: .01em;
}
.blog-index-nav-right-wind{
    width: 4rem;
}

.ishide{
    display: none;
}
.selected-item::after{
    content: '';
}

.blog-index-nav-right-wind-box{
    position: relative;
    margin-top: 2rem;
    margin-left: 2rem;
    transform: translate(-50%,-50%);
    width: 1.2rem;
    height: .5rem;
    background-color: #fff;
    overflow: hidden;
}
.blog-index-nav-r-wind-section-box{
    position: absolute;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 2.5rem;
    box-shadow: 0,-3px -3px 5px #fff;
}
.blog-index-nav-right-wind-up-line{
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: var(--blog-font-color);
}
@keyframes TopspanWindMove {
    from{
        left: 0;
    }
    to{
        left: -2.5rem;
    }

}
@keyframes TopspanWindOut {
    from{
        left: -2.5rem;
    }
    to{
        left: 0;
    }

}
@keyframes DownspanWindMove {
    from{
        left: 0;
    }
    to{
        left: calc(-2.5rem + (-10%));
    }
}
@keyframes DownspanWindOut {
    from{
        left: calc(-2.5rem + (-10%));
    }
    to{
        left: 0;
    }
}
.top-wind-move{
    animation-duration: 1s;
    animation-name: TopspanWindMove;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.98, 0.02, 0.06, 0.99);
}
.top-wind-out{
    animation-duration: 1s;
    animation-name: TopspanWindOut;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.98, 0.02, 0.06, 0.99);
}
.down-wind-move{
    animation-duration: 1s;
    animation-name: DownspanWindMove;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.down-wind-out{
    animation-duration: 1s;
    animation-name: DownspanWindOut;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.blog-index-nav-right-wind-up-line::before{
    content: '';
    position: absolute;
    top: 0;
    left: 2.5rem;
    width: 100%;
    height: 2px;
    background-color: var(--blog-font-color);
}
.blog-index-nav-right-wind-down-line{
    position: absolute;
    bottom: 0;
    width: 110%;
    height: 2px;
    background-color: var(--blog-font-color);
}
.blog-index-nav-right-wind-down-line::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(2.5rem + 10%);
    width: 100%;
    height: 2px;
    background-color: var(--blog-font-color);
}


.blog-index-body{
    display: flex;
    width: 100vw;
    margin-top: 7vh;
}
.blog-index-body-left{
    flex: .4;
}
.affix-left-box{
    width: 80%;
    margin-left: 9vw;
}
.affix-left-box-item>span:nth-child(1){
    font-family: 'Garamond Premier Pro Display';
    font-size: 4.9vw;
    line-height: 1em;
    color: var(--blog-font-color);
}
.affix-left-box-item>span:nth-child(3){
    font-family: 'roboto';
    font-size: .8vw;
    margin-top: -10px;
    color: var(--blog-font-color);
    letter-spacing: .1em;
    font-family: '思源宋体';
    color: rgb(130,130,130); 

}
.affix-left-box-item{
    margin-bottom: 2rem;
}
.affix-left-box-catalog-a{
    position: relative;
    z-index: 100;
    display: block;
    width: 180px;
    height: 2rem;
    line-height: 2rem;
    border-radius: calc(2rem / 2);
    box-shadow: 3px 3px 5px #e3e5ea,-3px -3px 5px #fff;
    margin: 1rem 0;
    text-align: center;
    font-family: 'roboto','思源宋体';
    color: var(--blog-font-color);
    overflow: hidden;
    transition: color 1s;
    font-weight: bold;
    background-color: var(--art-bg-color);
}
.affix-left-box-catalog-a:hover{
    color: #fff;
}
.affix-left-box-catalog-a>span{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 122;
    white-space:nowrap;                   
}
.cover-background-hide{
    position: absolute;
    pointer-events: none;
    z-index: 0;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: var(--blog-font-color);
    transition: all .6s ease-in-out;
}
.cover-background-section{
    transform: scale(100);
}

.blog-index-body-right{
    flex: 1;
}
.word-daily{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #dcdcdc;
}
.word-daily>span{
    line-height: 80px;
    font-family: '思源宋体';
    font-size: 30px;
    letter-spacing: .1rem;
}
.blog-index-body-right-box{
    width: 90%;
}
.blog-index-body-right-indexlist-box{
    width: 100%;
    height: 20em;
    margin: 3em 0 3em 0;
    background-color: #fff;
}
.blog-index-body-right-indexlist-item{
    display: block;
    width: 100%;
    height: 100%;
    
}


.blog-index-fonter{

    width: 100vw;
    height: 50vh;
    background-color: #f2f2f2;
}







/* .mianshi{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
} */
