html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* 火狐浏览器取消滚动条 */
  scrollbar-width: none;
  background-color: var(--art-bg-color);
}
a {
  color: inherit;
  text-decoration: none;
}
span {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
:root {
  box-sizing: border-box;
  --nav-height:6rem;
  --nav-vary-height:8rem;
  --art-bg-color:#f8f8f8;
  --blog-font-color:rgb(39,39,39)
}
body{
  position: relative;
  overflow-x: hidden;
  background-color: var(--art-bg-color);
}
/* 取消滚动条 */
body::-webkit-scrollbar{
  display: none;
}
/* 自定义滚动条 */
.scroll-progress-bar{
  position: fixed;
  z-index: 109;
  top: 0;
  height: 3px;
  background-color: rgb(8, 197, 255);
}
/* 鼠标图标 */
.mouse-box{
  position:absolute;
  z-index:10;
  background-color:#c7c7c7;
  pointer-events: none;
  transition: all .1s;
}
.mouse-origin-size{
  border-radius: 10px;
  width:20px;
  height:20px;
}
.mouse-change-size{
  border-radius: 25px;
  width:50px;
  height:50px;
}

/* 加载条 */
.progress-bar{
  position: absolute;
  z-index: 100;
  height: 3px;
  background-color: rgb(8, 197, 255);
}
/* @font-face {
  font-family: 'Cinzel';
  src: url(../public/fonts/Cinzel/Cinzel-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(../public/fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
  font-family: '思源宋体';
  src: url(../public/fonts/Noto_Serif_SC/NotoSerifSC-Light.otf);
}
@font-face {
  font-family: 'MontserratAlternates';
  src: url(../public/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf);
}
@font-face{
  font-family: 'Garamond Premier Pro Display';
  src:url(../public/fonts/Garamond\ Premier\ Pro\ Display.otf)
}
@font-face {
  font-family: 'zhaomf';
  src: url(../public/fonts/FZZhaoMFXSJF.TTF);
}
@font-face {
  font-family: '方正小篆';
  src: url(https://rainsin-1305486451.cos.ap-nanjing.myqcloud.com/font/FZXZTF.OTF);
} */

@font-face {
  font-family: 'Raleway-Light';
  src: url(https://rainsin-1305486451.file.myqcloud.com/font/Raleway-Light.ttf)format("truetype");
}
@font-face{
  font-family: 'Raleway-Medium';
  src: url(https://rainsin-1305486451.file.myqcloud.com/font/Raleway/Raleway-Medium.ttf);
}

@font-face {
  font-family: '思源宋体';
  src: url(../public/fonts/Noto_Serif_SC/NotoSerifSC-Regular.otf);
}
@font-face{
  font-family: 'Garamond Premier Pro Display';
  src:url(../public/fonts/Garamond\ Premier\ Pro\ Display.otf)
}